# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "00aed6a011e26f68afcc872144e8ef24"
name = "Klara-Fresh"
application_url = "https://klaraaiagent.ngrok.app"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2024-10"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_products,write_products"

[auth]
redirect_urls = [ "https://klaraaiagent.ngrok.app/auth/callback" ]
